/* tag selector */
body{
  text-align: left;
  background-color: hsl(0, 0%, 95%);
  color: hsla(0, 0%, 100%, 0.75);

}
h1{

  font-family: 'Big Shoulders Display', cursive;
  font-weight: bolder;
  font-size: 2.5rem;
  margin: 15% 0;

}
p{
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  width: 250px;
  line-height: 1.5;
  margin-bottom: 70px;

}

/* ID selector for grid-3-column */
#grid-3-column{
  margin: 5% ;
  display: flex;
  flex-wrap:wrap;
  flex-direction:column;
  height: 550px;
  width: 500px;
}

#footer{
  color: #1597E5;
}
/* class selector grid column */
.first-column{
  background-color: hsl(31, 77%, 52%);
  padding: 15%;
}
.second-column{
  background-color: hsl(184, 100%, 22%);
  padding: 15%;
}

.third-column{
  background-color: hsl(179, 100%, 13%);
  padding: 15%;
}
/* 1st column Call to Action btn */
.firts-btn-CTA {
  -webkit-border-radius: 45;
  -moz-border-radius: 45;
  border-radius: 45px;
  font-family: 'Lexend Deca', sans-serif;
  color: hsl(31, 77%, 52%);
  font-size: 15px;
  background:  hsl(0, 0%, 95%);
  padding: 10px 30px 10px 30px;
  border: solid hsl(0, 0%, 95%) 3px;
  text-decoration: none;
}

.firts-btn-CTA:hover {
  background: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
  text-decoration: none;
}

/* 2nd column Call to Action btn */
.second-btn-CTA{
  -webkit-border-radius: 45;
  -moz-border-radius: 45;
  border-radius: 45px;
  font-family: 'Lexend Deca', sans-serif;
  color: hsl(184, 100%, 22%);
  font-size: 15px;
  background:  hsl(0, 0%, 95%);
  padding: 10px 30px 10px 30px;
  border: solid hsl(0, 0%, 95%) 3px;
  text-decoration: none;
}
.second-btn-CTA:hover {
  background: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
  text-decoration: none;
}

/* 3rd column Call to Action btn */
.third-btn-CTA{
  -webkit-border-radius: 45;
  -moz-border-radius: 45;
  border-radius: 45px;
  font-family: 'Lexend Deca', sans-serif;
  color: hsl(179, 100%, 13%);
  font-size: 15px;
  background:  hsl(0, 0%, 95%);
  padding: 10px 30px 10px 30px;
  border: solid hsl(0, 0%, 95%) 3px;
  text-decoration: none;
}
.third-btn-CTA:hover {
  background: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
  text-decoration: none;
}

@media(max-width:500px) {
  p{
    margin-bottom: 60px;
    line-height: 1.7;
  }
  #grid-3-column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  #footer{
    margin-top: 1100px

  }
}
